td.left {
	padding-right: 30px;
	font-weight: bolder;
	text-align: right;
	width: 400px;
}

tr.lane td {
	padding-top: 10px;
	padding-bottom: 10px;
}

td.left em {
	font-weight: normal;
	font-size: 11px;
}

td.right {
	width: 200px;
}