#loading_members {
	height: 50px;
	margin: 0 auto;
	padding: 20px;
}

#circle-navigation .navigation-element, #circle-navigation .navigation-element option {
	padding: 3px 12px;
}

#circle-navigation input#circles_search, #circle-navigation select#circles_filters {
	margin: 10px;
	width: 225px;
}

#circle-navigation select#circles_filters {
	margin-top: 0;
	font-style: italic;
	color: #777777;
}

#circle-navigation input, #circle-navigation select, #circle-navigation option {
	width: 100%;
	box-sizing: border-box;
	background: #ffffffaa !important;
}

#app-content {
	overflow-x: hidden;
	position: absolute !important;
	left: 543px;
	right: 0px;
	height: 100%;
	top: 50px;
}

#circle-navigation .header {
	padding: 0 12px;
	line-height: 44px;
	min-height: 44px;
	border-bottom: 1px solid #eee;
}

#circles_new_type_definition div {
	margin-top: 10px;
	position: absolute;
	width: 250px;
	color: #474747b0;
	word-wrap: break-word;
}

SELECT.select_none {
	font-style: italic;
}

#circles_list, #circles_list .lightenbg {
	position: absolute;
	width: 100%;
	top: 350px;
}

#circles_list div {
	position: relative;
	padding: 15px;
	border-bottom: solid 1px #cccccc88;
	color: #555;
	cursor: pointer;
	background: #f9f9f9;
	-webkit-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
	font-weight: normal;
}

#circles_list div:hover {
	background: #f2f2f2;
}

#circles_list .selected {
	background: #ededed !important;
	font-weight: bold !important;
}

#circle-navigation {
	width: 300px;
	height: 100%;
	border-right: 1px solid #ddd;
}

#circle-navigation.circles {
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1002;
	position: absolute;
	left: 300px;
	top: 50px;
	bottom: 0;
	width: 243px;
}

#circle-navigation.circles, #circle-navigation.circles .circle, #circle-navigation.circles .selected {
	-webkit-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
}

#circle-navigation.selected {
	background: #ededed !important;
}

#circle-navigation.circles .selected {
	background: #e5e5e5;
}

/* circles */
.circle {
	border-bottom: solid 1px #ddd;
	border-radius: 2px;
	padding: 2px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.circle:hover {
	background: #e9e9e9;
}

div.circle .title {
	font-weight: bold;
	font-size: 13px;
	color: #333333dd;
	margin-left: 10px;
	font-style: italic;
}

div.circle .owner, div.circle .type, div.circle .resume {
	margin-left: 20px;
	font-size: 11px;
	margin-bottom: -4px;
	color: #2c2c2c99;
}

#mainui {
	display: none;
}

#mainui #circle_details, #circle_details .lightenbg {
	background-color: #0082c9;
	width: 100%;
	height: 105px;
}

#circle_details .lightenbg {
	background: #ffffff99;
	position: absolute;
}

#mainui #circle_details #name {
	font-size: 30px;
	padding: 10px;
	color: #000000c0;
	display: inline-block;
	position: absolute;
}

#mainui #circle_details #type {
	font-size: 16px;
	top: 35px;
	left: 20px;
	position: absolute;
	display: inline-block;
	color: #00000090;
	font-style: italic;
}

#circledata {
	position: absolute !important;
	overflow-y: auto;
	bottom: 5px;
	right: 10px;
	left: 15px;
	top: 120px;
	overflow-x: hidden;
}

#circle_desc {
	margin: 15px;
	padding: 10px;
	background: #f0f0f0
}

#mainui #memberslist {
	position: absolute;
	overflow-y: auto;
	width: 100%;
	overflow-x: hidden;
}

#memberslist_table, #linkslist_table, #groupslist_table {
	width: 100%;
}

#mainui #memberslist .header td {
	font-weight: bold;
	padding: 10px;
}

#mainui #memberslist .entry td {
	border-bottom: solid 1px #eee;
	color: #555;
}

.members_search, .groups_search {
	padding: 12px;
	padding-top: 5px;
	border-top: solid 1px #00000022;
	-webkit-transition: background-color 0.2s ease-in;
	transition: background-color 0.2s ease-in;
}

.members_search:hover, .groups_search:hover {
	background: #fafafa;
	-webkit-transition: background-color 0.2s ease-in;
	transition: background-color 0.2s ease-in;
}

.members_search.exact, .groups_search.exact {
	background: #eee;
}

#emptycontent {
	display: none;
	position: absolute;
	z-index: 1001;
	left: 0px;
}

#circle-actions {
	right: 10px;
	position: absolute;
	top: 20px;
}

#circle-actions button {
	padding: 15px;
	background-color: transparent;
	border: none;
	opacity: .5;
}

#circle-actions button:hover {
	opacity: .9;
}

#circle-actions-return {
	float: right;
	margin-top: 6px;
}

#linkcircle, #addmember, #linkgroup, #joincircle, #leavecircle {
	width: 350px;
}

#members_search_result > #addmember, #groups_search_result > #linkgroup {
	position: relative;
	width: 220px;
	right: 20px;
	top: 5px;
}

#members_search_result, #groups_search_result {
	z-index: 5;
	border-radius: 4px;
	border: solid 1px #00000022;
	color: #000000aa;
	background: #ffffffdd;
	max-height: 400px;
	overflow-y: auto;
	position: absolute;
	top: 45px;
	width: 360px;
}

.icon-add-user {
	background-size: 16px;
}

.icon-link-group {
	background-size: 16px;
}

.icon-join {
	background-size: 16px;
	opacity: .2;
	float: right;
	margin-top: 5px;
}

.level-select, .status-select {
	border: 0;
	margin: 0;
	background: #fff0;
}

.link-status-select {
	border: 0;
	margin: 0;
	background: #fff;
}

#mainui #settings-panel {
	position: absolute;
	bottom: 15px;
	right: 15px;
	left: 15px;
	top: 120px;
	overflow-y: auto;
}

#joincircle_request, #joincircle_invit {
	display: inline-block;
	padding: 10px;
	color: #555;
}

#settings-table {
	width: 100%;
	color: #555;
}

#settings-table td.left {
	font-weight: bold;
	text-align: right;
	width: 50%;
	font-size: 15px;
	padding: 15px 40px;
}

#settings-table .hint {
	font-weight: normal;
	font-size: 11px
}

#settings-name {
	width: 300px;
}

#settings-desc {
	width: 300px;
	height: 140px;
}

#settings-submit {
	margin: 15px;
}

#adminsettingscircle {
	position: absolute;
	bottom: 1px;
	left: 4px;
}

DIV.result_top {
	font-size: 15px;
}

DIV.result_bot {
	font-size: 12px;
	height: 10px;
	font-style: italic;
}
