#loading_members {
	height: 50px;
	margin: 0 auto;
	padding: 20px;
	padding: 20px;
}

#app-navigation .navigation-element, #app-navigation .navigation-element option {
	padding: 3px 12px;
}

#app-navigation input#circles_search, #app-navigation select#circles_filters {
	margin: 15px;
	width: 285px;
}

#app-navigation select#circles_filters {
	margin-top: 0px;
	font-style: italic;
	color: #777777;
}

#app-navigation input, #app-navigation select, #app-navigation option {
	width: 100%;
	box-sizing: border-box;
	background: #ffffffaa !important;
}

#app-content {
}

#app-navigation .header {
	padding: 0 12px;
	line-height: 44px;
	min-height: 44px;
	border-bottom: 1px solid #eee;
}

#circles_new_type_definition div {
	margin-top: 20px;
	position: absolute;
	width: 255px;
	color: #474747b0;
	word-wrap: break-word;
}

#circles_list, #circles_list .lightenbg {
	position: absolute;
	width: 100%;
	top: 300px;
}

#circles_list div {
	position: relative;
	padding: 15px;
	border-bottom: solid 1px #cccccc88;
	color: #555;
	cursor: pointer;
	background: #f9f9f9;
	-webkit-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
	font-weight: normal;
}

#circles_list div:hover {
	background: #f2f2f2;
}

#circles_list .selected {
	background: #ededed !important;
	font-weight: bold !important;
}

#app-navigation {
	width: 300px;
	border-right: 1px solid #ddd;
}

#app-navigation.circles {
	overflow-y: auto;
	width: 320px;
}

#app-navigation.circles, #app-navigation.circles .circle, #app-navigation.circles .selected {
	-webkit-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
}

#app-navigation.selected {
	background: #ededed !important;
}

#app-navigation.circles .selected {
	background: #e5e5e5;
}

/* circles */
.circle {
	border-bottom: solid 1px #ddd;
	border-radius: 2px;
	padding: 2px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.circle:hover {
	background: #e9e9e9;
}

div.circle .title {
	font-weight: bold;
	font-size: 13px;
	color: #333333dd;
	margin-left: 10px;
	font-style: italic;
}

div.circle .owner, div.circle .type, div.circle .resume {
	margin-left: 20px;
	font-size: 11px;
	margin-bottom: -4px;
	color: #2c2c2c99;
}

/** members **/

#mainui {
	display: none;
}

#mainui #rightpanel {
	position: absolute;
	top: 105px;
	width: 300px;
	right: 0px;
	bottom: 0px;
}

#rightpanel .lightenbg {
	width: 100%;
	height: 100%;
	background: #ffffffe0;
	position: absolute;
}

#mainui #circle_details, #circle_details .lightenbg {
	background-color: #0082c9;
	width: 100%;
	height: 105px;
}

#circle_details .lightenbg {
	background: #ffffff99;
	position: absolute;
}

#memberdetails {
	position: absolute;
}

#mainui #circle_details #name {
	font-size: 30px;
	padding: 10px;
	color: #000000c0;
	display: inline-block;
	position: absolute;
}

#mainui #circle_details #type {
	font-size: 16px;
	top: 35px;
	left: 20px;
	position: absolute;
	display: inline-block;
	color: #00000090;
	font-style: italic;
}

#mainui #addmember, #joincircle_invit, #joincircle_request {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	width: 370px;
	right: 0px;
	top: 0px;
	position: absolute;
}

#joincircle_invit, #joincircle_request {
	font-style: italic;
	color: #555;
}

#mainui #joincircle, #mainui #leavecircle, #mainui #destroycircle, #joincircle_interact {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	width: 400px;
	top: 45px;
	position: absolute;
}

#joincircle_acceptinvit, #joincircle_rejectinvit {
	margin-left: 15px;
	margin-right: 5px;
	width: 170px;
}

#joincircle_rejectinvit {
	margin-left: 5px;
	margin-right: 15px;
	width: 170px;
}

#joincircle_invit, #joincircle_request {
	margin-left: 30px;
	margin-bottom: 15px;
}

#mainui #memberslist {
	position: absolute;
	bottom: 15px;
	right: 415px;
	left: 15px;
	top: 120px;
	overflow-y: auto;
}

#memberslist_table {
	width: 100%;
}

#mainui #memberslist .header td {
	font-weight: bold;
	padding: 10px;
}

#mainui #memberslist .entry td {
	padding: 3px;
	border-bottom: solid 1px #eee;
	color: #555;
}

#members_search_result {
	z-index: 5;
	border-radius: 4px;
	border: solid 1px #00000022;
	color: #000000aa;
	background: #ffffffdd;
	max-height: 400px;
	overflow-y: auto;
	position: absolute;
	right: 10px;
	top: 60px;
	width: 380px;
}

#members_search_result > #mainui #rightpanel #addmember {
	position: relative;
	width: 300px;
	top: 5px;
}

.members_search {
	padding: 10px;
	border-top: solid 1px #00000022;
	-webkit-transition: background-color 0.2s ease-in;
	transition: background-color 0.2s ease-in;
}

.members_search:hover {
	background: #fafafa;
	-webkit-transition: background-color 0.2s ease-in;
	transition: background-color 0.2s ease-in;
}

.members_search.exact {
	background: #eee;
}

#remmember {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
	width: 270px;
	position: absolute;
}

#member_request {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
	width: 270px;
}

#joincircle_acceptrequest, #joincircle_rejectrequest {
	width: 100%;
}

#member_name {
	font-size: 22px;
	padding: 15px 15px 0px 15px;
}

#member_levelstatus {
	font-size: 14px;
	padding: 15px 15px 0px 15px;
}

#emptycontent {
	position: absolute;
	z-index: -99;
	left: 200px;
}
