#loading_members {
	height: 50px;
	margin: 0 auto;
	padding: 20px;
}

#app-navigation .navigation-element, #app-navigation .navigation-element option {
	padding: 3px 12px;
}

#app-navigation .navigation-element input, #app-navigation .navigation-element select, #app-navigation .navigation-element option {
	width: 100%;
	box-sizing: border-box;
}

#app-content {
	padding: 3px 12px;
}

#app-navigation .header {
	padding: 0 12px;
	line-height: 44px;
	min-height: 44px;
	border-bottom: 1px solid #eee;
}

#circles_new_type_definition div {
	margin-top: 20px;
	position: absolute;
	width: 255px;
	color: #474747b0;
	word-wrap: break-word;
}

#circles_list {
	border-top: solid 1px #ddd;
}

#circles_list div {
	position: relative;
	padding: 15px;
	border-bottom: solid 1px #ddd;
	color: #555;
	cursor: pointer;
	background: #f1c76e33;
	-webkit-transition: background-color 0.5s ease-in;
	transition: background-color 0.5s ease-in;
	font-weight: normal;
}

#circles_list div:hover {
	background: #f1c76e44;
}

#circles_list .selected {
	background: #f1c76e66 !important;
	font-weight: bold !important;
}

#app-navigation {
	width: 280px;
	border-right: 1px solid #ddd;
}

#app-navigation.noborder {
	border: 0px !important;
}

#app-navigation.circles {
	overflow-y: auto;
}

#app-navigation.circles, #app-navigation.circles .circle, #app-navigation.circles .selected {
	-webkit-transition: background-color 0.5s ease-in;
	transition: background-color 0.5s ease-in;
}

#app-navigation.selected {
	background: #f1c76e66 !important;
}

#app-navigation.circles .selected {
	background: #a279ff66;
}

.navigation-element {
	border-right: 1px solid #ddd;
	background: #f1c76e11;
}

/* circles */
.circle {
	border: solid 1px #555;
	border-radius: 4px;
	box-shadow: 3px 3px 4px #88888888;
	margin: 10px;
	margin-bottom: 0px;
	padding: 5px;
	background: #eee;
}

div.circle .title {
	font-weight: bold;
	color: #333333dd;
	font-style: italic;
}

div.circle .owner, div.circle .resume {
	font-size: 11px;
	color: #333333bb;
}
