# SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
\.idea/
.buildpath
.project
.settings/
.php-cs-fixer.cache
.php_cs.cache
.phpdoc/
.vscode/settings.json
build/
phpDocumentor.phar
vendor/
