<?xml version="1.0" encoding="utf-8"?>
<!--
  - SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuite name="circles">
    <directory suffix="Test.php">.</directory>
  </testsuite>
  <logging>
    <!--<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>-->
  </logging>
  <source>
    <include>
      <directory suffix=".php">../appinfo</directory>
      <directory suffix=".php">../lib</directory>
    </include>
  </source>
</phpunit>
