<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php">
	<testsuite name="circles">
		<directory suffix='Test.php'>.</directory>
	</testsuite>
	<filter>
		<whitelist>
			<directory suffix=".php">../appinfo</directory>
			<directory suffix=".php">../lib</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="clover.xml"/>
		<!--<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>-->
	</logging>
	<listeners>
		<listener class="OCA\Circles\Tests\Env" file="TestSuiteListener.php"/>
	</listeners>

</phpunit>
