/**
 * SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
#app-content-circlesfilter .select2-container {
	width: 30%;
	margin-left: 10px;
}

#app-content-circlesfilter .select2-choices {
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #fff;
	color: #555;
	box-sizing: content-box;
	border-radius: 3px;
	border: 1px solid #ddd;
	padding: 0;
	min-height: auto;
}

.nav-icon-circlesfilter {
	background-image: url('../../img/circles.svg');
}

#app-sidebar .mainFileInfoView .tag-label {
	cursor: pointer;
	padding: 13px;
}

#app-sidebar .mainFileInfoView .icon-tag {
	opacity: .5;
	vertical-align: middle;
}
